<div class="jumbotron container">
  <h1>Online theatre reservations</h1>
  <p>You can reserve the seats for the movies that are screencasting in all the theatres in Sri Lanka. It's easy and convinient way to make your life easy. No more waiting lines, just try it today!</p>
  <p><a href="#!/reserve" class="btn btn-primary btn-lg">Reserve seats</a></p>
</div>
<div></div>
<div class="jumbotron container">
  <h1>Order Snacks</h1>
  <p>You can order the snack when you are reserving the tickets. You won't miss a single thing and watch the movie without worrying about buying snacks.</p>
  <p><a class="btn btn-primary btn-lg">How it works</a></p>
</div>